In [43]:
import pandas as pd
from sklearn.model_selection import train_test_split
db = pd.read_csv('clasificacion1/train.csv')
db_test = pd.read_csv('clasificacion1/test.csv')
db_test

,Unnamed: 0,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,0,19556,Female,Loyal Customer,52,Business travel,Eco,160,5,4,...,5,5,5,5,2,5,5,50,44.0,satisfied
1,1,90035,Female,Loyal Customer,36,Business travel,Business,2863,1,1,...,4,4,4,4,3,4,5,0,0.0,satisfied
2,2,12360,Male,disloyal Customer,20,Business travel,Eco,192,2,0,...,2,4,1,3,2,2,2,0,0.0,neutral or dissatisfied
3,3,77959,Male,Loyal Customer,44,Business travel,Business,3377,0,0,...,1,1,1,1,3,1,4,0,6.0,satisfied
4,4,36875,Female,Loyal Customer,49,Business travel,Eco,1182,2,3,...,2,2,2,2,4,2,4,0,20.0,satisfied
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25971,25971,78463,Male,disloyal Customer,34,Business travel,Business,526,3,3,...,4,3,2,4,4,5,4,0,0.0,neutral or dissatisfied
25972,25972,71167,Male,Loyal Customer,23,Business travel,Business,646,4,4,...,4,4,5,5,5,5,4,0,0.0,satisfied
25973,25973,37675,Female,Loyal Customer,17,Personal Travel,Eco,828,2,5,...,2,4,3,4,5,4,2,0,0.0,neutral or dissatisfied
25974,25974,90086,Male,Loyal Customer,14,Business travel,Business,1127,3,3,...,4,3,2,5,4,5,4,0,0.0,satisfied
25975,25975,34799,Female,Loyal Customer,42,Personal Travel,Eco,264,2,5,...,1,1,2,1,1,1,1,0,0.0,neutral or dissatisfied

In [46]:
from sklearn.preprocessing import LabelEncoder
X = db.drop(columns=['satisfaction', 'Arrival Delay in Minutes'])
X_prueba = db_test.drop(columns=['satisfaction', 'Arrival Delay in Minutes'])
y = db['satisfaction']
le = LabelEncoder()
X['Gender'] = le.fit_transform(X['Gender'])
X_prueba['Gender'] = le.transform(X_prueba['Gender'])
X['Customer Type'] = le.fit_transform(X['Customer Type'])
X_prueba['Customer Type'] = le.transform(X_prueba['Customer Type'])
X['Type of Travel'] = le.fit_transform(X['Type of Travel'])
X_prueba['Type of Travel'] = le.transform(X_prueba['Type of Travel'])
X['Class'] = le.fit_transform(X['Class'])
X_prueba['Class'] = le.transform(X_prueba['Class'])
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

In [62]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=4).fit(X_train, y_train)

In [67]:
from sklearn.tree import DecisionTreeClassifier
clf = DecisionTreeClassifier(criterion='entropy', splitter='random', max_depth=3, random_state=43)
clf = clf.fit(X_train,y_train)

In [64]:
from sklearn.metrics import accuracy_score
accuracy = accuracy_score(y_test, knn.predict(X_prueba))
print(f'Accuracy: {accuracy:.2f}')

Accuracy: 0.54

In [66]:
from sklearn import metrics
print("Accuracy:", metrics.accuracy_score(y_test, clf.predict(X_prueba)))

Accuracy: 0.5095857714813674